_build/XML/liste.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- Definition d'une liste de personnalite -->
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comite" type="listePersonnalitesType"/>
  <xs:complexType name="listePersonnalitesType">
       <xs:sequence>
          <xs:element name="nom" type="xs:string" minOccurs='1' maxOccurs='unbounded'/>
          <xs:element name="prenom" type="xs:string" minOccurs='1' maxOccurs='unbounded'/> 
          <xs:element name="domaine" type="xs:string" minOccurs='1' maxOccurs='unbounded'/> 
       </xs:sequence>
  </xs:complexType>
</xs:schema>
